<div class="tap-top">
  <i class="ri-arrow-up-double-fill"></i>
</div>

<div class="loader-wrapper">
  <img src="assets/dashboard/images/loader.gif" alt="">
</div>

<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <app-header />

  <div class="page-body-wrapper">
    <app-sidebar />
    <router-outlet />
  </div>
</div>

<div class="modal theme-modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Logging Out</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">Are you sure you want to log out?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-cancel" type="button" data-bs-dismiss="modal"
                    aria-label="Close">No</button>
                    <button class="btn btn-submit" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="logout()">Yes</button>
                </div>
            </div>
        </div>
    </div>
